@keyframes openAccordion {
  from {
    max-height: 0;
  }
  to {
    max-height: auto;
  }
}

.accordion {
  &-wrapper {
    margin-bottom: 8px;
  }
  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    color: #343a40;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    span {
      background-color: $greyDark;
      width: 8px;
      height: 8px;
      transition: all 0.3s ease;
    }
    &.open {
      border-radius: 4px 4px 0 0;
      span.icon-arrow-right {
        transform: rotateZ(-90deg);
      }
    }
  }
  &-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    p {
      margin-right: 5px;
    }
  }
  &-content {
    background-color: var(--outer-space);
    padding: 20px;
    border-radius: 0 0 4px 4px;
  }
  &-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
    float: right;
    background-color: $bgDark;
    border-radius: 4px;
    font-size: 13px;
    color: $greyDark;
    cursor: pointer;
    span {
      width: 13px;
      height: 13px;
      margin-right: 4px;
      background-color: $greyDark;
    }
    &:hover {
      color: #fff;
      background-color: var(--electro-mag);
      border-color: var(--orchid);
    }
  }
}

.accordion-item {
  overflow: hidden;
  transition: all 0.6s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
  &.collapsed {
    max-height: 0;
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
  }
}
