.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #e8ebf1;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  }
  cursor: pointer;
}

.card-body {
  padding: 20px;
}

.card {
  &-header {
    height: 167.337px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &-title {
    font-size: 17px;
    margin-bottom: 10px;
    color: $dark;
    font-weight: 600;
  }
}

.course {
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-views,
  &-time,
  &-lectures {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: $iconColor;
    span {
      margin-right: 8px;
    }
  }
}
