.cover-image {
  position: relative;
  .banner {
    position: relative;
    &::after {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #052044;
      opacity: 0.7;
      position: absolute;
    }
  }
  img {
  }
}
