[class^='icon-'],
[class*=' icon-'] {
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $iconColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  //class color here
  &.color-main {
    background-color: $mainColor;
  }
  &.color-error {
    background-color: $red;
  }
  &.color-active {
    background-color: $active !important;
  }
  &.color-success {
    background-color: $active !important;
  }

  &.mr {
    margin-right: 8px;
  }

  &.ml {
    margin-left: 8px;
  }

  &.mr-s {
    margin-right: 4px;
  }

  &.ml-s {
    margin-left: 4px;
  }

  &.size-icon-1 {
    width: 12px;
    min-width: 12px;
    height: 12px;
  }
  &.size-icon-2 {
    width: 14px;
    min-width: 14px;
    height: 14px;
  }
  &.size-icon-3 {
    width: 18px;
    min-width: 18px;
    height: 18px;
  }
  &.size-icon-4 {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }
  &.size-icon-5 {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }
  &.size-icon-6 {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }
  &.size-icon-7 {
    width: 36px;
    min-width: 36px;
    height: 36px;
  }
  &.size-icon-8 {
    width: 72px;
    min-width: 72px;
    height: 72px;
  }
}

.icon {
  &-search {
    mask-image: url('../assets/_icon/search.svg');
  }
  &-logo {
    mask-image: url('../assets/_icon/logo.svg');
  }
  &-camera {
    mask-image: url('../assets/_icon/camera.svg');
  }
  &-medal {
    mask-image: url('../assets/_icon/medal.svg');
  }
  &-infinite {
    mask-image: url('../assets/_icon/infinite.svg');
  }
  &-eye {
    mask-image: url('../assets/_icon/eye.svg');
  }
  &-clock {
    mask-image: url('../assets/_icon/clock.svg');
  }
  &-play {
    mask-image: url('../assets/_icon/play.svg');
  }
  &-arrow-right {
    mask-image: url('../assets/_icon/arrow-right.svg');
  }
  &-arrow-left {
    mask-image: url('../assets/_icon/arrow-left.svg');
  }
  &-facebook {
    mask-image: url('../assets/_icon/facebook.svg');
  }
  &-twitter {
    mask-image: url('../assets/_icon/twitter.svg');
  }
  &-instagram {
    mask-image: url('../assets/_icon/instagram.svg');
  }
  &-user {
    mask-image: url('../assets/_icon/user.svg');
  }
  &-user-filled {
    mask-image: url('../assets/_icon/user-filled.svg');
  }
  &-check {
    mask-image: url('../assets/_icon/check.svg');
  }
  &-rank {
    mask-image: url('../assets/_icon/rank.svg');
  }
  &-quiz {
    mask-image: url('../assets/_icon/quiz.svg');
  }
  &-lock {
    mask-image: url('../assets/_icon/lock.svg');
  }
  &-close {
    mask-image: url('../assets/_icon/close.svg');
  }
  &-error {
    mask-image: url('../assets/_icon/error.svg');
  }
  &-google {
    mask-image: url('../assets/_icon/google.svg');
  }
  &-require-mark {
    mask-image: url('../assets/_icon/require-mark.svg');
  }
  &-play-fullfil {
    mask-image: url('../assets/_icon/play-fullfil.svg');
  }
  &-exercise {
    mask-image: url('../assets/_icon/exercise.svg');
  }
  &-message-rounded {
    mask-image: url('../assets/_icon/message-rounded.svg');
  }
  &-revert {
    mask-image: url('../assets/_icon/revert.svg');
  }
  &-arrow-down {
    mask-image: url('../assets/_icon/arrow-down.svg');
  }
  &-lock-fulfill {
    mask-image: url('../assets/_icon/lock-fulfill.svg');
  }
  &-control-forward {
    mask-image: url('../assets/_icon/control-forward.svg');
  }
  &-save {
    mask-image: url('../assets/_icon/save.svg');
  }
  &-camera-filled {
    mask-image: url('../assets/_icon/camera-filled.svg');
  }
  &-course {
    mask-image: url('../assets/_icon/course.svg');
  }
  &-lecture {
    mask-image: url('../assets/_icon/lecturesvg.svg');
  }
  &-log-out {
    mask-image: url('../assets/_icon/log-out.svg');
  }
  &-dashboard {
    mask-image: url('../assets/_icon/dashboard.svg');
  }
}
