$mainColor: #d70040;
$mainColorLight: #da0b4e;
$red: #ff4a4a;
$borderColor: #e1e5ec;
$lightBorderColor: #e5e8ef;
$white: #ffffff;
$bgDark: #131b31;
$dark: #303740;
$textColorDark: #202124;
$textColorGray: #626a70;
$textColor: #4d5868;
$iconColor: #4a5874;
$greyDark: #546e7a;
$lightColor: #f4f8fa;
$lightGrey: #647b9c;
$active: #4caf50;
$blackColor: #000000;

::root {
  --shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.12);
}
